@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Colors */
:root {
  --p-green: #00ad8c;
  --p-white-1: #FFFFFF;
  --p-darkblue: #021b51;
  --p-blue-2: #CAD3FF;
  --n-dark: #4D5566;
  --n-dark-4: #727D94;
  --n-light-4: #fbfdfe;
  --n-mid-1: #a1a8b8;
  --n-mid-4: #DFE2EB;
}

/* Semantic color variables */
:root {
  --color-background: var(--p-white-1);
  --color-background-soft: var(--n-light-4);
  --color-background-mute: var(--n-dark-4);

  --color-border: var(--n-mid-4);
  --color-border-2: var(--p-blue-2);
  --color-border-hover: var(--p-green);

  --color-text: var(--n-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: DM Sans, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
}
